<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="scripts">
    <meta content="text/html;charset=utf-8" http-equiv="content-type" />
    <link rel='stylesheet' th:href="@{/css/leaflet.css}"
          type="text/css" />
    <script th:src="@{/js/leaflet-src.js}"></script>
    <script th:src="@{/js/jquery-2.2.0.js}"></script>
    <script th:src="@{/js/app.js}"></script>

</head>
</html>